.form-control.is-invalid{
  background-image: none;
  padding-right: 0;
}
.redBorder{
  border: 1px solid var(--tblr-form-invalid-border-color);
}
.w100-h100{
  width: 100px;
  height: 100px;
}

.blur1{
  filter: blur(1px);
}

.preload{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(2px); /* Applies blur effect */
  z-index: 999;
}